* {
    padding: 5px;
}
body {
    background-image: url("../images/background.jpg");
    }

.jewelheader {
    background-color: #08a6ce;
    width: 405px;
    text-align: center; 
    padding: 3px;
    text-align: center;
    margin: 5px;    
}

.jewelinstructions {
    background-color: rgb(221, 216, 209);
    width: 400px;
    margin: 5px, 5px, 5px, 5px;
    padding: 5px;
    margin: 5px;
    }
.jewelrandomnumber {
    background-color: #08a6ce;
    width: 160px; 
    text-align: left;
    height: 100px;
    font-size: 20px;
    float: left;
    margin: 5px;
    }
.jewelscores {
    background-color: #08a6ce;
    width: 100px;
    text-align: center;
    height: 100px;
    float: left;
    margin: 5px;
    }
    .jewels  {
        clear: both;
        margin: 0px, 0px, 0px, 5px;
        padding: 5px;
    }
.jewelscoreheader{
    background-color: #08a6ce;
    width: 160px;
    padding: 5px;
}

.jeweltotalscore {
    background-color: #08a6ce;
    width: 160px;
    text-align: left;
    height: 100px;
    font-size: 20px;
    color: black;
}

.crystal-image {
    height: 60px;
    width: 70px;
    margin: 0px; 
    padding: 0px;
    }